In [1]:
import numpy as np
import pandas as pd 
import matplotlib
import os

In [5]:
income = pd.read_csv('lapi1121_formatted.csv')

In [6]:
years = ['2018', '2019', '2020']
for year in years:
    income[year] = income[year].str.split(',').str.join('').astype('int')
income.head()

      Region   2018   2019   2020
0   Alamance  39742  41256  43973
1  Alexander  36539  37758  40176
2  Alleghany  36576  37987  40599
3      Anson  35135  37741  38785
4       Ashe  34791  36643  39612

In [7]:
income.to_csv(os.getcwd() + '/income_final.csv', index=False)

In [8]:
income_new = pd.read_csv('income.csv')
income_new.head()

      Region   2018   2019   2020
0   Alamance  39742  41256  43973
1  Alexander  36539  37758  40176
2  Alleghany  36576  37987  40599
3      Anson  35135  37741  38785
4       Ashe  34791  36643  39612